{% extends 'codi/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row" style="margin-top: 150px;">
            <div style="margin: 0 auto;">
                <h2 style="text-align:center;">비밀번호 변경</h2>
                <hr style="width:auto; border: 1px dashed #ABCEEA;">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form password_change_form %}
                    <input class="btn btn-success" style="width:100%; height:auto;" type="submit" value="확인" />
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}