{% extends 'codi/base.html' %}
{% load static %}

{% block style %}
#addBtn{
float: right;
}
span.subheading.mycloset{
color: lightskyblue;
font-size: 20px;
}
.testimony-section .owl-carousel .owl-stage-outer {
padding: 0 0 0 0 !important;
}
.ftco-section {
padding: 2em 0;
}
.cate_h2{
  margin-bottom: 0;
}
.owl-dots {
  margin-bottom: 20px !important;
}
{% comment %} 중간 대문?? 위아래 폭 줄이기 {% endcomment %}
.hero-wrap.hero-wrap-2 .slider-text {
    height: 380px !important;
}
.hero-wrap.hero-wrap-2 {
    height: 400px !important;
    position: relative;
}
{% endblock style %}

{% block content %}

<section class="ftco-section testimony-section bg-light">

  <div class="container" style="margin-top:200px;">
    <div class="row justify-content-center mb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h3>내옷장</h3>
        <span><a href="{% url 'codi:addCloth' %}"><i class="fas fa-plus-square"></i> 옷 추가하기</a></span>
      <hr style="width:auto; border: 1px dashed #ABCEEA;">
      </div>
      </div>
      </div>

      <!-- 상의 -->
      <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h3 class="cate_h2">상의 (Top)</h3>
      </div>
    </div>
    {% if tops.0 == null %}
    <div class="zeroCloth text-center mb-5">
      <h4 style="color: lightslategray;">! 상의를 추가하세요 !</h4>
      <a href="{% url 'codi:addCloth' %}" class="btn btn-success">add cloth</a>
    </div>
    {% else %}
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div id="carousel" class="carousel-testimony owl-carousel ftco-owl">
          {% for top in tops %}
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <div class="d-flex align-items-center">
                  <img src="{{top.img_url}}" alt="asdf">
                </div>
              </div>
              <div class="pl-3 text-center mt-2">
                <span class="name">{{top.cloth_type}}</span>
                <button type="button" data-img="{{top.img_url}}" id="addBtn"
                  class="btn btn-danger addBtn">remove</button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <!-- 아우터 -->
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <hr style="width:auto; border: 1px dashed #ABCEEA;">
        <h3 class="cate_h2">아우터 (Outer)</h3>
      </div>
    </div>
    {% if outers.0 == null %}
    <div class="zeroCloth text-center mb-5">
      <h4 style="color: lightslategray;">! 외투를 추가하세요 !</h4>
      <a href="{% url 'codi:addCloth' %}" class="btn btn-success">add clothes</a>
    </div>
    {% else %}
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          {% for top in outers %}
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <div class="d-flex align-items-center">
                  <img src="{{top.img_url}}" alt="asdf">
                </div>
              </div>
              <div class="pl-3 text-center mt-2">
                <span class="name">{{top.cloth_type}}</span>
                <button type="button" data-img="{{top.img_url}}" id="addBtn"
                  class="btn btn-danger addBtn">remove</button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <!-- 바지 -->
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <hr style="width:auto; border: 1px dashed #ABCEEA;">
        <h3 class="cate_h2">바지 (Pants)</h3>
      </div>
    </div>
    {% if bottoms.0 == null %}
    <div class="zeroCloth text-center mb-5">
      <h4 style="color: lightslategray;">! 바지를 추가하세요 !</h4>
      <a href="{% url 'codi:addCloth' %}" class="btn btn-success">add cloth</a>
    </div>
    {% else %}
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          {% for top in bottoms %}
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <div class="d-flex align-items-center">
                  <img src="{{top.img_url}}" alt="asdf">
                </div>
              </div>
              <div class="pl-3 text-center mt-2">
                <span class="name">{{top.cloth_type}}</span>
                <button type="button" data-img="{{top.img_url}}" id="addBtn"
                  class="btn btn-danger addBtn">remove</button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <!-- 스커트 -->
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <hr style="width:auto; border: 1px dashed #ABCEEA;">
        <h3 class="cate_h2">스커트 (Skirt)</h3>
      </div>
    </div>
    {% if skirts.0 == null %}
    <div class="zeroCloth text-center mb-5">
      <h4 style="color: lightslategray;">! 스커트를 추가하세요 !</h4>
      <a href="{% url 'codi:addCloth' %}" class="btn btn-success">add cloth</a>
    </div>
    {% else %}
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          {% for top in skirts %}
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <div class="d-flex align-items-center">
                  <img src="{{top.img_url}}" alt="asdf">
                </div>
              </div>
              <div class="pl-3 text-center mt-2">
                <span class="name">{{top.cloth_type}}</span>
                <button type="button" data-img="{{top.img_url}}" id="addBtn"
                  class="btn btn-danger addBtn">remove</button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <!-- 원피스 -->
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <hr style="width:auto; border: 1px dashed #ABCEEA;">
        <h3 class="cate_h2">원피스 (Onepiece)</h3>
      </div>
    </div>
    {% if onepieces.0 == null %}
    <div class="zeroCloth text-center mb-5">
      <h4 style="color: lightslategray;">! 원피스를 추가하세요 !</h4>
      <a href="{% url 'codi:addCloth' %}" class="btn btn-success">add cloth</a>
    </div>
    {% else %}
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          {% for top in onepieces %}
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <div class="d-flex align-items-center">
                  <img src="{{top.img_url}}" alt="asdf">
                </div>
              </div>
              <div class="pl-3 text-center mt-2">
                <span class="name">{{top.cloth_type}}</span>
                <button type="button" data-img="{{top.img_url}}" id="addBtn"
                  class="btn btn-danger addBtn">remove</button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

</section>


{% endblock content %}

{% block script %}
<script>
  $(function () {
    $('#carousel').carousel({
      wrap: false
    });
    $(document).on('click', '.addBtn', function (e) {
      var img = $(this).data('img');
      console.log(img)
      var button = $(this);
      $.ajax({
        url: '{% url "codi:add" %}',
        method: 'POST',
        data: {
          "csrfmiddlewaretoken": '{{csrf_token}}',
          "img_url": img
        },
        success: function (data) {
          console.log("ㅅㄱ");
          $(e.target).toggleClass('btn-secondary btn-danger');

        },
        error: function (data) {
          console.log("ㅈㅅ");
        }
      })
    })
  })

</script>
{% endblock script %}