<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" />

    <title>DANAWA | CLOTHES</title>
</head>

<body class="single is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a href="/">Danawa</a></h1>
            <nav class="links">
              <ul>
                <li><a class="smooth" href="/bindex">Codi Book</a></li>
                <li><a class="smooth" href="/clothes">Clothes</a></li>
                <li><a class="smooth" href="/search">Search Clothes</a></li>
                <li><a class="smooth" href="#reco">Recommed Clothes</a></li>
                <li><a class="smooth" href="e">뭘로 쓸지 몰라서 일단 남겨둠</a></li>
              </ul>
            </nav>
            <nav class="main">
              <ul>
                <li class="search">
                  <a class="fa-search" href="#search">Search</a>
                  <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                  </form>
                </li>
                <li class="menu">
                  <a class="fa-bars" href="#menu">Menu</a>
                </li>
              </ul>
            </nav>
          </header>
      
          <!-- Menu -->
          <section id="menu">
      
            <!-- Search/ 검색바 어떠케 쓸지는 정해봐야 할듯 -->
            <section>
              <form class="search" method="get" action="#">
                <input type="text" name="query" placeholder="Search" />
              </form>
            </section>
      
            <!-- Links -->
            <section>
              <ul class="links">
                <li>
                  <a href="/bindex">
                    <h3>Codi Book</h3>
                    <p>코디를 업로드 하여 공유해봐요!</p>
                  </a>
                </li>
                <li>
                  <a href="/clothes">
                    <h3>Clothes</h3>
                    <p>자신의 옷을 저장하여 보관하세요!</p>
                  </a>
                </li>
                <li>
                  <a href="/search">
                    <h3>Search Clothes</h3>
                    <p>필터의 기능을 사용하여 원하는 옷을 검색하세요!</p>
                  </a>
                </li>
                <li>
                  <a href="#reco">
                    <h3>Recommed Clothes</h3>
                    <p>딥러닝 기술을 사용하여 상황에 맞는 옷을 추천해 드립니다.</p>
                  </a>
                </li>
              </ul>
            </section>
          </section>

        </section>

        <!-- Main -->
        <div id="main">

            <!-- Post -->
            <article class="post clothes_post">
                <header>
                    <div class="title">
                        <h2>CLOTHES</h2>
                        <section class="inner-page">

                            <section id="tabs" class="project-tab">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <nav>
                                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                                    <a class="nav-item nav-link active" id="nav-home-tab"
                                                        data-toggle="tab" href="#nav-home" role="tab"
                                                        aria-controls="nav-home" aria-selected="true">내 옷장 보기</a>

                                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                                        href="#nav-profile" role="tab" aria-controls="nav-profile"
                                                        aria-selected="false">코디 작성</a>

                                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                                        href="#nav-contact" role="tab" aria-controls="nav-contact"
                                                        aria-selected="false">등록 코디</a>
                                                </div>
                                            </nav>

                                            <div class="tab-content container-fluid" id="nav-tabContent">
                                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                                    aria-labelledby="nav-home-tab">
                                                    <section class="inner-page">
                                                        <div class="container">
                                                            <div class="inner-cont center col-lg-12">
                                                                <button class="btn" onclick="">아이템 추가</button>
                                                            </div>

                                                            <div class="container-fluid clothes">
                                                                <div class="cate" id="cate">
                                                                    <input type="button" class="fun-btn" id="item_hat"
                                                                        value="모자">
                                                                    <input type="button" class="fun-btn" id="item_acc"
                                                                        value="액세서리">
                                                                    <br>
                                                                    <input type="button" class="fun-btn" id="item_top"
                                                                        value="상의">
                                                                    <br>

                                                                    <input type="button" class="fun-btn" id="item_out"
                                                                        value="아우터">
                                                                    <br>

                                                                    <input type="button" class="fun-btn" id="item_btm"
                                                                        value="하의">
                                                                    <br>

                                                                    <input type="button" class="fun-btn" id="item_bag"
                                                                        value="가방">
                                                                    <br>

                                                                    <input type="button" class="fun-btn" id="item_sock"
                                                                        value="양말">
                                                                    <input type="button" class="fun-btn" id="item_shoe"
                                                                        value="신발">

                                                                    <input type="button" class="fun-btn" id="item_else"
                                                                        value="기타">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </section>

                                                </div>

                                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                                    aria-labelledby="nav-profile-tab">
                                                    <section class="inner-page">
                                                        <div class="container">
                                                            <div class="inner-cont center col-lg-12">
                                                                <button class="btn2" onclick="">아이템 추가</button>
                                                            </div>
                                                            <div class="container-fluid clothes2">
                                                                <div class="row btn-group justify-content-center "
                                                                    role="group" aria-label="모드 선택"
                                                                    id="id-div-mode-change">
                                                                    <button type="button"
                                                                        class="btn btn_ btn-light col-md-6 active"
                                                                        onclick="changeCoordMode(0)">부위 설정</button>
                                                                    <button type="button"
                                                                        class="btn btn_ col-md-6 btn-dark"
                                                                        onclick="changeCoordMode(1)">코디하기</button>
                                                                </div>

                                                                <div id="id-div-char-win"
                                                                    class="coord-win main justify-content-center">
                                                                </div>

                                                                <div id="id-div-coord-win"
                                                                    class="coord-win coord-post mb-3" id="tab1"
                                                                    style=" display: none;">
                                                                    <div class="row col-8 btn-group season"
                                                                        id="buttons " role="group" aria-label="배경 선택">
                                                                        <button type="button"
                                                                            class="col-md-2 btn btn-outline-success btn-sm"
                                                                            onclick="ChangeBack('1')">봄</button>
                                                                        <button type="button"
                                                                            class="col-md-2 btn btn-outline-primary btn-sm"
                                                                            onclick="ChangeBack('2')">여름</button>
                                                                        <button type="button"
                                                                            class="col-md-2 btn btn-outline-warning btn-sm"
                                                                            onclick="ChangeBack('3')">가을</button>
                                                                        <button type="button"
                                                                            class="col-md-2 btn btn-outline-secondary btn-sm"
                                                                            onclick="ChangeBack('4')">겨울</button>
                                                                        <button type="button"
                                                                            class="col-md-2 btn btn-outline-dark btn-sm"
                                                                            onclick="ChangeBack('5')">실내</button>
                                                                    </div>

                                                                    <div class="row save-group p-0 m-0 col-lg-4">
                                                                        <button type="button"
                                                                            class="btn col-6 btn-save1 btn-sm"
                                                                            onclick="">데일리룩 저장</button>
                                                                        <button type="button"
                                                                            class="btn col-6 btn-save2 btn-sm"
                                                                            onclick="">코디 저장</button>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>

                                                <div class="tab-pane fade " id="nav-contact" role="tabpanel"
                                                    aria-labelledby="nav-contact-tab">

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </section>

                    </div>
                </header>
                </main>
                <footer>
                    <ul class="stats">
                        <li><a href="#">General</a></li>
                        <li><a href="#" class="icon solid fa-heart">28</a></li>
                        <li><a href="#" class="icon solid fa-comment">128</a></li>
                    </ul>
                </footer>
            </article>

        </div>

        <!-- Footer -->
        <section id="footer">
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
                <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a
                    href="http://unsplash.com">Unsplash</a>.</p>
        </section>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>