<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<link rel="stylesheet" href="/css/login.css">
	<title>DANAWA | Login</title>
	<link rel="icon" href="images/tab_icon.png" type="image/png">

</head>
<body>
	
	<section class="login">
		<div class="login_back" style="background-image: url('images/npic1.jpg'); background-size: 60%; background-position: right;">
			<div class="login_cont">
				<span class="login_title">
					Danawa Login
				</span>
				<form class="login_form validate-form" action="/auth/login" method="POST">

					<div class="login_wrap validate-input">
						<input class="login_input" type="text" name="username" placeholder="ID">
						<span class="focus_input fontAwesome" data-placeholder="&#xf007;"></span>
					</div>

					<div class="login_wrap validate-input">
						<input class="login_input" type="password" name="password" placeholder="Password">
						<span class="focus_input fontAwesome" data-placeholder="&#xf023;"></span>
					</div>

					<div class="wrap_login_btn">
						<button class="login_btn" type="submit" class = "submit">
							Login
						</button>
					</div>

				</form>
			</div>
		</div>
	</section>
			<script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<!--<script src = "/js/login.js"></script>-->
		
		


	
</body>
</html>