<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>DANAWA | SEARCH</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css">
		<link rel="icon" href="images/tab_icon.png" type="image/png">
	</head>
	<body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header">
					<h1><a href="/main">Danawa</a></h1>
					<nav class="links">
					  <ul>
						<li><a class="smooth" href="/bindex">Codi Book</a></li>
						<li><a class="smooth" href="/clothes">Clothes</a></li>
						<li><a class="smooth" href="/search">Search Clothes</a></li>
						<li><a class="smooth" href="/weather">Recommed Clothes</a></li>
					  </ul>
					</nav>
					<div class="row">
						<p style="text-transform:none;  margin-top: 12px;"><span style="font-weight: bold; font-size: 16px;"> <%= session.username %></span>님 환영합니다. </p>
						<p style="text-transform:none; padding-right: 50px;  margin-top: 18px;"><a href="/logout">Log Out</a></p>
						</div>
				  </header>
			  
				  <!-- Menu -->
				  <section id="menu">
			  
					<!-- Search/ 검색바 어떠케 쓸지는 정해봐야 할듯 -->
					<section>
					  <form class="search" method="get" action="#">
						<input type="text" name="query" placeholder="Search" />
					  </form>
					</section>
			  
					<!-- Links -->
					<section>
					  <ul class="links">
						<li>
						  <a href="/bindex">
							<h3>Codi Book</h3>
							<p>코디를 업로드 하여 공유해봐요!</p>
						  </a>
						</li>
						<li>
						  <a href="/clothes">
							<h3>Clothes</h3>
							<p>자신의 옷을 저장하여 보관하세요!</p>
						  </a>
						</li>
						<li>
						  <a href="/search">
							<h3>Search Clothes</h3>
							<p>필터의 기능을 사용하여 원하는 옷을 검색하세요!</p>
						  </a>
						</li>
						<li>
						  <a href="#reco">
							<h3>Recommed Clothes</h3>
							<p>딥러닝 기술을 사용하여 상황에 맞는 옷을 추천해 드립니다.</p>
						  </a>
						</li>
					  </ul>
					</section>
				  </section>
		
				</section>
		
				<!-- Main -->
					<div id="main">

                        <!-- Post -->
							<article class="post">
								<header>
									<div class="title center">
                                        <h2>Search Clothes</h2>
                                        <p>옷장 속 이외의 찾는 옷을 검색하세요</p>
										<!--검색기능 구현부분-->
										<div class="container-fluid">
											<div class="row">
											  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="background-color: #272727">
												<div class="sidebar-sticky pt-3">
												  <ul class="nav flex-column">
													<table class = 'table' style="background-color: #000000; color: #ffffff">
													  <b>
													  <b>
														<tbody>
														<form class="form-inline my-2 my-md-0" method="get" action="{% url 'game:search' %}">
														  <input class="form-control" type="text" placeholder="Search clothes" aria-label="Search" name="" value="">
														  <br>
														  <div class="form-check form-check-inline">
															  &nbsp;&nbsp;&nbsp;
															  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="f", value={{g}}>
															  <class class="form-check-label" for="inlineCheckbox5" style="color: #CDCDCD"></class>
														  </div>
														  <br>
														  <div class="form-group">
															<a href = "#" onclick= "event.stopPropagation()"></a>
															<label for="customRange3" style="color: #CDCDCD">가격 범위</label>
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															<select source="[name=price]">
																<option value="0">Any Price</option>
																<option value="1">20000원 이하</option>
																<option value="2">30000원 이하</option>
																<option value="3">40000원 이하</option>
																<option value="4">50000원 이하</option>
																<option value="5">50000원 이상</option>
															</select>
										                    
															<input type="range" class="custom-range" value = "0" min="0" max="5" step="1" id="customRange3" name="price", value={{price}}>
															<script>
																;(function(){
															  
															  function emit(target, name) {
																var event
																if (document.createEvent) {
																  event = document.createEvent("HTMLEvents");
																  event.initEvent(name, true, true);
																} else {
																  event = document.createEventObject();
																  event.eventType = name;
																}
															
																event.eventName = name;
															
																if (document.createEvent) {
																  target.dispatchEvent(event);
																} else {
																  target.fireEvent("on" + event.eventType, event);
																}    
															  }
															
															  var outputsSelector = "input[type=number][source],select[source]";
															  
															  function onChange(e) {
																var outputs = document.querySelectorAll(outputsSelector)
																for (var index = 0; index < outputs.length; index++) {
																  var item = outputs[index]
																  var source = document.querySelector(item.getAttribute('source'));
																  if (source) {
																	if (item === e.target) {
																	  source.value = item.value
																	  emit(source, 'input')
																	  emit(source, 'change')
																	}
															
																	if (source === e.target) {
																	  item.value = source.value
																	}
																  }
																}
															  }
															  document.addEventListener('change', onChange)
															  document.addEventListener('input', onChange)
															}());
															</script>
														  </div>
														  <button type='submit' class='btn btn-warning'>검색</button>  <!--위에것과 기능은 같음-->
														  <!-- <button type='reset' class='btn btn-info'>RESET</button> -->
														</form>
													  </tbody>
													</table>
													<br>
													<br>
												  </ul>
												</div>
											</nav>
											  <role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
												<!-- 일단 사용보류...
											    <br>
												<h2>검색 결과</h2>
												<br>
												<table class = 'table' style="color: #ffffff">
												  <thead style="background-color: #000000">
													<tr align = "center">
													  <th scope="col"> 옷 이미지 </th> 
													  <th scope="col"> 옷 이름 </th>
													  <th scope="col"> 최저가 </th>
													  <th scope="col"> 제작 </th>
													</tr>
												</thead>
													<tbody style="background-color: #353535">
													  <tr align = "center">
														  <td style="padding:5px">
															<img src="" class="thumbnails">
														  </td>
														  <td style="padding:5px">
															  <a href="" style="color: #FFC107"><br>{}</a> 
														   </td>
														  <td style="padding:5px; color: #CDCDCD"><br>
															  
														  </td> 
														  <td style="padding:5px; color: #CDCDCD"><br>
														  </td>
													  </tr>
												</tbody>
											</table> -->
										  </role>
										</div>
									</div>
                                </header>
                                <span class="image featured"><img src="../images/crown.jpg" alt="" />
                                    <a href="/board">
                                        <h2>이번달 가장 많이 조회된 코디 찾아가기</h2>
                                    </a>
                                </span>
                                <span class="image featured"><img src="../images/season4.png" alt="" />
                                    <a href="/clothes">
                                        <h2>계절별 공유된 코디 찾아가기</h2>
                                    </a>
                                </span>
							</article>

					</div>

				<!-- Footer -->
					<section id="footer">
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
					</section>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>