<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>DANAWA | SEARCH</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header">
					<h1><a href="/">Danawa</a></h1>
					<nav class="links">
					  <ul>
						<li><a class="smooth" href="/bindex">Codi Book</a></li>
						<li><a class="smooth" href="/clothes">Clothes</a></li>
						<li><a class="smooth" href="/search">Search Clothes</a></li>
						<li><a class="smooth" href="#reco">Recommed Clothes</a></li>
						<li><a class="smooth" href="e">뭘로 쓸지 몰라서 일단 남겨둠</a></li>
					  </ul>
					</nav>
					<nav class="main">
					  <ul>
						<li class="search">
						  <a class="fa-search" href="#search">Search</a>
						  <form id="search" method="get" action="#">
							<input type="text" name="query" placeholder="Search" />
						  </form>
						</li>
						<li class="menu">
						  <a class="fa-bars" href="#menu">Menu</a>
						</li>
					  </ul>
					</nav>
				  </header>
			  
				  <!-- Menu -->
				  <section id="menu">
			  
					<!-- Search/ 검색바 어떠케 쓸지는 정해봐야 할듯 -->
					<section>
					  <form class="search" method="get" action="#">
						<input type="text" name="query" placeholder="Search" />
					  </form>
					</section>
			  
					<!-- Links -->
					<section>
					  <ul class="links">
						<li>
						  <a href="/bindex">
							<h3>Codi Book</h3>
							<p>코디를 업로드 하여 공유해봐요!</p>
						  </a>
						</li>
						<li>
						  <a href="/clothes">
							<h3>Clothes</h3>
							<p>자신의 옷을 저장하여 보관하세요!</p>
						  </a>
						</li>
						<li>
						  <a href="/search">
							<h3>Search Clothes</h3>
							<p>필터의 기능을 사용하여 원하는 옷을 검색하세요!</p>
						  </a>
						</li>
						<li>
						  <a href="#reco">
							<h3>Recommed Clothes</h3>
							<p>딥러닝 기술을 사용하여 상황에 맞는 옷을 추천해 드립니다.</p>
						  </a>
						</li>
					  </ul>
					</section>
				  </section>
		
				</section>
		
				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title center">
										<h2><a href="#">Search Clothes</a></h2>
									</div>
								</header>
								<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
							</article>

					</div>

				<!-- Footer -->
					<section id="footer">
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
					</section>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>