<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Preview- codiBook</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">Danawa</a></h1>
						<nav class="links">	
						</nav>
					</header>

				<!-- Menu -->
					

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="">Codi Book Service</a></h2>
										<p>내가 입었던 코디를 업로드하여 다른사람과 공유해볼 수 있는 서비스 입니다. <br>
											This is a service that allows you to upload the clothes that I wore and try airflow with others.</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">December 1, 2020</time>
										<a href="#" class="author"><span class="name">Hyungjun</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
								</header>
								<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
								<p>CodiBook Service는 내가 입었던 옷들을 하나씩 게시글로 올려 다른사람들과 공유할 수 있는기능입니다. 다른사람이 입은 옷을 보고 나만의 코디를 찾아볼 수 있도록 성심성의것 서비스를 제공합니다.</p>
								<p>Codybook service is a function that I can share clothes with others by posting them one by one. We offer sincere service so that you can find your own style by looking at other people's clothes. </p>
							</article>

					</div>

				<!-- Footer -->
					<section id="footer">
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
					</section>

			</div>

		<!-- Scripts -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/browser.min.js"></script>
		<script src="/js/breakpoints.min.js"></script>
		<script src="/js/util.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/jquery.scrollex.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/main.js"></script>

	</body>
</html>