<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Preview- codiRecommed</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">Danawa</a></h1>
						<nav class="links">	
						</nav>
					</header>


				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="">Codi Recommed Service</a></h2>
                                        <p>날씨에 알맞은 코디를 추천해주는 서비스 입니다.<br>
                                            It's a service that recommends a coordinator for the weather.</p>
                                        
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">December 1, 2020</time>
										<a href="#" class="author"><span class="name">Soyunn</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
								</header>
								<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
								<p>Codi Recommed Service는 날씨 API를 활용하여 그날의 온도, 미세먼지 등을 분석하여 이용자들에게 알맞은 코디를 추천해주는 서비스입니다.<br> 날씨에 맞게 코디를 입고 재미있게 놀러가요!</p>
								<p>This service uses weather APIs to analyze the temperature and fine dust of the day and recommend appropriate coordination to users.<br> Let's wear a stylist to suit the weather and have fun!</p>

							</article>

					</div>

				<!-- Footer -->
					<section id="footer">
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
					</section>

			</div>

		<!-- Scripts -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/browser.min.js"></script>
		<script src="/js/breakpoints.min.js"></script>
		<script src="/js/util.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/jquery.scrollex.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/main.js"></script>

	</body>
</html>