.table1{
    width: 90%;
}
.post .title .h3{
    font-weight: bold;
    text-align: center;
    font-size: 30px ;
}
.post .title p{
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
}
a:hover{
    text-decoration: none;
    text-decoration-line: none;
}
a{
    border-style: none;
}
.b_up{
    float: right;
    color: rgb(75, 75, 75);
    font-size: 16px;
    font-weight: bold;
    margin-top:30px;
    margin-bottom: 20px;
}
.my.pagination > .active > a, 
.my.pagination > .active > span, 
.my.pagination > .active > a:hover, 
.my.pagination > .active > span:hover, 
.my.pagination > .active > a:focus, 
.my.pagination > .active > span:focus {
  background: rgb(150, 145, 132)!important;
  border-color:  rgb(150, 145, 132)!important;
  color: white!important;
}

.pagination .page-link{
    color: rgb(24, 24, 24);
    text-decoration: none;
  }

  .pagination .page-link2{
    color: rgb(24, 24, 24);
    padding: 6px 13px;
    text-decoration: none;
    border-radius:40%;
  }
  .board_plus{
    margin-top: 30px;
    margin-bottom: 30px;
  }
.dis1{
    text-align: center;
    padding: 3px;
    font-weight: bold;
    font-size: 17px;
    height: 40px;
    background-color: #f1f1e5;
    border-radius: 8px;
    margin-bottom: 10px;
}
.dis2{
    padding: 20px;
    font-size: 18px;
    height:250px;
    border-radius: 8px;
    background-color: #f7f7f7;
    margin-bottom: 10px;
}
.dis3{
    display: contents;
}
.dis4{
    margin-top: 30px;
}
.updbt{
    margin:10px;
}
.bo_co{
padding: 0;
margin: 0;
font-size: 15px;
font-weight: bold;
}
.hr{
    padding-bottom: 3px;
    margin: 0;
    width: 90%;
}
.view{
    text-align: right;
    max-width: 93.5%;
}
.view > p {
    margin: 0;
}