/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	transition: all 0.5s;
	z-index: 997;
	padding: 15px 0;
  }
  
  #header.header-scrolled, #header.header-inner-pages {
	background: rgba(0, 0, 0, 0.8);
  }
  
  #header .logo {
	font-size: 32px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
  }
  
  #header .logo a {
	color: #fff;
  }
  
  #header .logo a span {
	color: #ffc451;
  }
  
  #header .logo img {
	max-height: 40px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  .nav-menu > ul {
	display: flex;
  }
  
  .nav-menu > ul > li {
	position: relative;
	white-space: nowrap;
	padding: 10px 0 10px 28px;
  }
  
  .nav-menu a {
	display: block;
	position: relative;
	color: #fff;
	transition: 0.3s;
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
	color: #ffc451;
  }
  
  .nav-menu .drop-down ul {
	display: block;
	position: absolute;
	left: 14px;
	top: calc(100% + 30px);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	padding: 0;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
  }
  
  .nav-menu .drop-down:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
  }
  
  .nav-menu .drop-down li {
	min-width: 180px;
	position: relative;
  }
  
  .nav-menu .drop-down ul a {
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
	color: #151515;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
	color: #151515;
	background: #ffc451;
  }
  
  .nav-menu .drop-down > a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
	top: 0;
	left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a {
	padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
	content: "\eaa0";
	font-family: IcoFont;
	position: absolute;
	right: 15px;
  }
  
  @media (max-width: 1366px) {
	.nav-menu .drop-down .drop-down ul {
	  left: -90%;
	}
	.nav-menu .drop-down .drop-down:hover > ul {
	  left: -100%;
	}
	.nav-menu .drop-down .drop-down > a:after {
	  content: "\ea9d";
	}
  }
  
  /* Get Startet Button */
  .get-started-btn {
	  text-align: center;
	color: #fff;
	border-radius: 4px;
	padding: 7px 25px 8px 25px;
	transition: 0.3s;
	font-size: 14px;
	display: inline-block;
	border: 2px solid #ffc451;
  }
  
  .get-started-btn:hover {
	background: #ffbb38;
	color: #343a40;
	text-decoration: none;
  }
  
  @media (max-width: 768px) {
	.get-started-btn {
	  margin: 0 48px 0 0;
	  padding: 7px 20px 8px 20px;
	}
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
	width: 100%;
	height: 100vh;
	background: url("/images/cloth2.jpg") top center;
	background-size: cover;
	position: relative;
  }
  
  #hero:before {
	content: "";
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
  }
  
  #hero .container {
	position: relative;
	padding-top: 74px;
	text-align: center;
  }
  
  #hero h1 {
	margin: 0;
	font-size: 56px;
	font-weight: 700;
	line-height: 64px;
	color: #fff;
	font-family: "Poppins", sans-serif;
  }
  
  #hero h1 span {
	color: #ffc451;
  }
  
  #hero h2 {
	color: rgba(255, 255, 255, 0.9);
	margin: 10px 0 0 0;
	font-size: 24px;
  }
  
  #hero .icon-box {
	padding: 30px 20px;
	transition: ease-in-out 0.3s;
	border: 1px solid rgba(255, 255, 255, 0.3);
	height: 100%;
	text-align: center;
  }
  
  #hero .icon-box i {
	font-size: 32px;
	line-height: 1;
	color: #ffc451;
  }
  
  #hero .icon-box h3 {
	font-weight: 700;
	margin: 10px 0 0 0;
	padding: 0;
	line-height: 1;
	font-size: 20px;
	line-height: 26px;
  }
  
  #hero .icon-box h3 a {
	color: #fff;
	transition: ease-in-out 0.3s;
  }
  
  #hero .icon-box h3 a:hover {
	color: #ffc451;
	text-decoration: none;

  }
  
  #hero .icon-box:hover {
	border-color: #ffc451;
	text-decoration: none;

  }
  
  @media (min-width: 1024px) {
	#hero {
	  background-attachment: fixed;
	}
  }
  
  @media (max-width: 768px) {
	#hero {
	  height: auto;
	}
	#hero h1 {
	  font-size: 28px;
	  line-height: 36px;
	}
	#hero h2 {
	  font-size: 20px;
	  line-height: 24px;
	}
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
	padding: 60px 0;
	overflow: hidden;
  }
  
  .section-title {
	padding-bottom: 40px;
  }
  
  .section-title h2 {
	font-size: 14px;
	font-weight: 500;
	padding: 0;
	line-height: 1px;
	margin: 0 0 5px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #aaaaaa;
	font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
	content: "";
	width: 120px;
	height: 1px;
	display: inline-block;
	background: #ffde9e;
	margin: 4px 10px;
  }
  
  .section-title p {
	margin: 0;
	margin: 0;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	color: #151515;
  }

  article{
	  margin-bottom: 90px;
  }
  .departments a{
	color: #ffc451;
  }
  .departments h2{
	font-size: 22px;
	color: rgb(65, 65, 65);
  }
  .departments a:active, .departments a:hover, .active{
	color: #1d1d1d;
	font-weight: bold;
  }
  .font-italic{
	color: #a57413;

  }